<mat-card class="example-card">

  <mat-card-header>
    <mat-card-title>My Messages</mat-card-title>
  </mat-card-header>

  <div *ngFor="let message of apiService.messages">
    <mat-card>
        <mat-card-content>
          <p>{{ message.message }}</p>
        </mat-card-content>
        <mat-card-subtitle>{{ message.created_at * 1000 | date:'yyyy-MM-dd HH:mm:ss' }}</mat-card-subtitle>
    </mat-card>
  </div>
  <br>
  <button *ngIf="apiService.more_messages" mat-raised-button color="primary" (click)="onClickMe()" style="width:100%;">Load more messages!</button>

</mat-card>